
<html>
<head>
    <title>World Travel Blog</title>
    <link rel="stylesheet" type="text/css" href="~/css/DemoStyle.css" />

</head>
<body>
    <h2>Welcome to the World Travel Blog!</h2>
</body>
</html>