@model Travel_Blog.Models.Location

<html>
<head>
    <title>World Travel Blog </title>
</head>
<body>
    <h2>Name:</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>