@{
    ViewData["Title"] = "World Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Travel_Blog.Models.Location

    <h2>Name:</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <p>@Html.ActionLink("Back to list", "Index")</p>